version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: indira
      POSTGRES_PASSWORD: indira
      POSTGRES_DB: travelplanner
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
volumes:
  db_data: